@page "/file/{fileId}"
@inherits FileDownloadBase
@inject IStringLocalizer<FileDownload> Localizer
@using Microsoft.Extensions.Localization

<h1>@Localizer["Download files"]</h1>

@if (File != null)
{
    <div class="file-row">
        <div>
            <h2>@File.FileName</h2>
            @Localizer["File size:"] <strong>@File.Size @Localizer["bytes"]</strong>
            @Localizer["File type:"] <strong>@File.Type</strong>
        </div>

        <button @onclick="() => DownloadFile()">
            <span>@Localizer["Download file"]</span>
        </button>
    </div>
}
